.snap-y-always-half {
  scroll-snap-type: y mandatory;
}

.snap-always-half {
  scroll-snap-align: start;
}

@media (prefers-reduced-motion: no-preference) {
  .snap-y-always-half {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
  }

  .snap-always-half::before {
    content: "";
    display: block;
    height: 50vh;
    margin-top: -50vh;
    scroll-snap-align: start;
  }
}
